.author {
  padding-top: 4rem;
}

.profile {
  max-width: 50rem;
  margin: auto;
  position: relative;
}

.banner {
  height: 10rem;
  border-top-left-radius: var(--space-sm);
  border-top-right-radius: var(--space-sm);
  border: 1px solid var(--mono-light);
}

.avatar {
  position: absolute;
  top: 3.5rem;
  left: 50%;
  width: 8rem;
  height: 8rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--mono);
  overflow: hidden;
}

.avatar figure,
.avatar img {
  width: 7rem;
  height: 7rem;
}

.avatar figcaption {
  display: none;
}

.primary-info {
  padding-top: var(--space-lg);
}

.primary-info h1 {
  padding: var(--space-sm) 0;
  font-family: Lobster;
  color: var(--mono-dark);
  font-size: 2.5rem;
  text-align: center;
}

.role-list {
  --role-i-box: 1.75rem;
  --role-i: 1.25rem;
  list-style: none;
  margin: 0;
  padding: 0 0 var(--space-sm);
  margin: 0 var(--space-xl);
  border-bottom: 1px solid var(--mono-light);
  display: flex;
  justify-content: center;
  font-family: Lobster;
}

.role-list li {
  display: flex;
  align-items: center;
}

.role-list li:not(:last-child) {
  margin-right: var(--space-md);
}

.role-list li i {
  width: var(--role-i-box);
  height: var(--role-i-box);
  font-size: var(--role-i);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--space-xs);
}

.job-experience {
  max-width: 40rem;
  margin: auto;
}

.anchor-title {
  padding: var(--space-md) var(--space-xl) var(--space-lg);
  font-family: Lobster;
}

.anchor-title a {
  position: relative;
  color: var(--mono);
  text-decoration: none;
  display: block;
}

.anchor-title a:hover {
  text-decoration: underline;
}

.anchor-title a i {
  position: absolute;
  left: calc(var(--space-xl) * -1);
  color: var(--mono-dark);
  visibility: hidden;
}

.anchor-title:hover a i {
  visibility: visible;
}

.job-experience p {
  margin: 0 var(--space-xl) var(--space-lg);
  padding-left: var(--space-lg);
  font-size: 1.25rem;
  color: var(--mono-dark);
  border-left: 4px solid var(--mono-light);
}

.job-experience p em {
  font-weight: bold;
  font-style: normal;
}

.skill-sets {
  max-width: 40rem;
  margin: auto;
}

.skill-sets ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skill-sets ul li {
  margin: 0;
  padding-left: var(--space-xl);
  font-size: 1.25rem;
}

.skill-sets h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: normal;
  padding-left: var(--space-xl);
  position: relative;
}

.skill-sets h3 i {
  position: absolute;
  left: 0;
  color: var(--mono-dark);
}

.skill-sets p {
  margin: var(--space-lg) 0 var(--space-lg) var(--space-xl);
  padding-left: var(--space-lg);
  border-left: 4px solid var(--mono-light);
}

.skill-sets p em {
  font-style: normal;
  font-weight: bold;
  color: var(--mono-dark);
}

.skill-sets p span {
  display: block;
  margin: var(--space-sm) 0;
  padding-left: var(--space-xl);
  position: relative;
}

.skill-sets p span i {
  position: absolute;
  left: var(--space-sm);
  color: var(--mono-light);
}
