.home {
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
  margin: 1rem 0 0;
  position: relative;
}

.home h1:after {
  content: "Since 2019";
  position: absolute;
  top: -0.5rem;
  right: 0;
  font-family: Lobster;
  font-size: 1rem;
}

.home figure,
.home figure img {
  width: 20rem;
  height: 20rem;
  margin: 0;
}

.home figure figcaption {
  display: none;
}

.social {
  --social-i-box: 1.75rem;
  --social-i: 1.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social li:not(:last-child) {
  margin-right: var(--space-md);
}

.social a {
  display: block;
  width: var(--social-i-box);
  height: var(--social-i-box);
  text-decoration: none;
  background: var(--mono-light);
  color: var(--mono);
  border: 1px dashed var(--mono);
  border-radius: 50%;
}

.social a:hover {
  color: var(--mono-dark);
  border-color: var(--mono-dark);
}

.social i {
  width: var(--social-i-box);
  height: var(--social-i-box);
  font-size: var(--social-i);
  display: flex;
  justify-content: center;
  align-items: center;
}
